@inject MyPrivateWatchlist.Services.WatchlistService WatchlistSvc

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Movie Log</a>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill me-2"></i> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="watching">
                <i class="bi bi-play-circle-fill me-2"></i> Watching
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="watched">
                <i class="bi bi-check2-all me-2"></i> Watched
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="watchlist">
                <i class="bi bi-list-nested me-2"></i> Watchlist
            </NavLink>
        </div>
        <div class="nav-item px-3 mt-2">
            <a class="nav-link" style="cursor: pointer;" @onclick="WatchlistSvc.ShowRandomMovieAsync">
                <i class="bi bi-dice-5-fill me-2"></i> Random Movie
            </a>
        </div>
        <div class="nav-item px-3 border-top mt-2 pt-2">
            <NavLink class="nav-link" href="configure">
                <i class="bi bi-gear-fill me-2"></i> Configure
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private void ToggleNavMenu() => collapseNavMenu = !collapseNavMenu;
}
